:local(.AppComp) {
  text-align: center;
}

:local(.AppLogo) {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

:local(.AppHeader) {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

:local(.App-title) {
  font-size: 1.5em;
}

:local(.App-intro) {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

:local(.pippo) {
  color: red;
  font-size: 72px;
}
